/* .image {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
   */

   img{
    width: 46px;
    height: 46px;
    border-radius: 23px;
   }

   footer{
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }

   /* .logoutButton{
       align-self:flex-end;
  }  */

  .navbar{
    height:auto;
    display:inline;
    width:100%;
    /* 
   
    margin-right: 18px; */
    margin-top:10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #3f51b5
    /* display: flex;
    flex-wrap: wrap;
   
    padding: 8px 16px; */
  }

  nav .navbar-nav li a ,#toggleButtonForPlayer {
    color:white;
    font-weight: 500;
    font-size:20px;
    text-decoration: none;
  }

  .navbar-brand{
    color:white;
    font-weight: 500;
    font-size:24px;
  }

  nav .navbar-nav li a:hover{
    text-decoration: none;
     /* color:yellow;  */
     opacity: 0.5;
  }
/* #toggleButtonForPlayer {
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
} */
.dropdown-item {
    background-color: #3f51b5
}
.dropdown-item:hover {
    background-color: #3f51b5
}

#navbarSupportedContent a{
  padding-left: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  
}

.dropdown-menu{

  background-color: #3f51b5

}

.bg-primary {
  color: #fff;
  background-color: #3f51b5;
}
