/* .image {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
   */

   img{
    width: 45px;
    height: 45px
   }

   footer{
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }

  .logoutButton{
    top: 7px;
    left: 900px;
    
   /* // align-content: flex-end; */
  }

  .navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
  }

 