
<div class="fluid-container" id="bgImage">
  <mat-card>
    <mat-card-title
      ><img class="logo" src="../../assets/logo.jpeg" alt="logo.jpeg" />
      <br />
      <br />
      <p>Sign-In</p>
    </mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
      <br />

      <mat-form-field class="inputField">
        <mat-label>Email address</mat-label>
        <input formControlName="email" id="email" type="email" matInput />
        <!-- <mat-error *ngIf="loginForm.invalid('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.hasError('required')">
          Email is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
      <br />
      <br />
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          formControlName="password"
          id="password"
          matInput
        />
      </mat-form-field>
      <br />
      <button
        mat-flat-button
        color="primary"
        type="submit"
        class="btn btn-primary"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </form>
  </mat-card>
</div>
