.mat-selection-list{
    margin:30px 0px; padding:0px;
    text-align:center;
     
    
  }
  .mat-expansion-panel{
    width: 1000px;
    background-color: whitesmoke;
    opacity: 0.9;
    
  }
  .mat-expansion-panel-header{
    /* background-color: rgb(201, 252, 181); */
    background-image: url('../../../assets/resource3.jpg');
    height: 100px;
  }

  /* .mat-tab-group{
    height: 175px;
    border-top-width: 50px;padding-top: 50px;padding-bottom: 0px;
   
  } */
  
  .dropDownStyle
  {
    padding-top: 25px;
    padding-bottom: 25px;
   
  }

  a{
    padding-left: 290px;
  }


  .fontSize{

    font-size: large;
  }

  h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  mat-card-title{
    padding-left: 400px;
  }

  mat-card{
    /* background-image: url('../../../assets/resource1.jpg');
    background-size: cover;
    background-color: transparent; */
    background-color: rgb(215, 240, 253);

  }
  
  mat-tab.label{
      font-size:xx-large;
  }