
<h2>Practice Questions</h2>
<br>
<form [formGroup]="mcqForm" (ngSubmit)="onSubmit( mcq.question.id)">
    <div class="form-group">
        <li class="list-group-item active">
            <label class="control-label col-sm-3"> Question : <br>{{
                mcq.question.description
                }}</label><br><br>
        </li>
        <div>
            <div *ngFor="let option of mcq.options" class="list-group-item">
                <label class="radio-inline">
                    <input type="radio" id="mcqRadio" value="{{ option.id }}" formControlName="optionId" />{{
                    option.optionName }}
                </label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">Submit</button>

</form><br>
<button type="submit" class="btn btn-success btn-block" (click)="nextQuestion()"
    [disabled]="currentIndex===mcqLength-1">Next Question</button>

<br>
<button type="submit" class="btn btn-success btn-block" (click)="previousQuestion()"
    [disabled]="currentIndex===0">Previous Question</button>






