.mat-selection-list{
    margin:30px 0px; padding:0px;
    text-align:center;
    
  }
  .mat-expansion-panel{
    width: 1000px;
    background-image: url('../../../assets/blocker1.jpg');
  }
  .mat-expansion-panel-header{
    height: 100px;
    background-color: whitesmoke;

  }

  .mat-form-field {
    float: right;
    padding-right: 100px;

  }

  .mat-label{
    text-decoration: solid;
  }
  .mat-card{

   background-color: #79baf0;
  }