.parallax {
    background-image: url("https://st2.depositphotos.com/3837271/8657/i/600/depositphotos_86576638-stock-photo-your-feedback-matters-placard.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}