.example-card {
    max-width: 600px;
    text-align: center;
    margin: auto;
   
  }
  
  .example-header-image {
    background-image: url('../../assets/logo.jpeg');
    background-size: 45px;
  }

 

  .logo{
      width: 76px;
      height: 76px;
      border-radius: 38px;
         
   }
   .header{
       padding-left: 170px;
   }

