<mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <div  class="header">
      <mat-card-title><img class="logo"  src="../../assets/logo.jpeg" alt="logo.jpeg"></mat-card-title>
      <mat-card-subtitle class="cardSubtitle">Created By Campus Minds</mat-card-subtitle>
        </div>
    </mat-card-header>
    <img mat-card-image src="../../assets/welcome.jpg" alt="Welcome Img" />
    <mat-card-content>
      <p>
        The main objective of the application is to give the enhanced pre-learning experiance to the mindtree Joiner's prior to date of joining
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
