<!-- <div style="align-items: center; width: 100%;">
<mat-card class="example-card">
    <div style="text-align: center; width: 100%;"> -->
<!-- <mat-card-header>    
      <mat-card-title><img class="logo"  src="../../assets/logo.jpeg" alt="logo.jpeg"></mat-card-title>
      <mat-card-subtitle  class="cardSubtitle">Created By Campus Minds</mat-card-subtitle>
        
    </mat-card-header> -->
<!-- <img class="logo"  src="../../assets/logo.jpeg" alt="logo.jpeg">
    <h2>Created By Campus Minds</h2>
    </div>
    <img mat-card-image style="width: 80%; height: 70%;" src="../../assets/welcome.jpg" alt="Welcome Img" />
    <mat-card-content>
      <h3>
        The main objective of the application is to give the enhanced pre-learning experiance to the mindtree Joiner's prior to date of joining
      </h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div> -->
<div id="slider">
  <figure>
    <img src="../../assets/MindtreeLogoDark.jpg" alt="" />
    <img src="../../assets/s3Crop.jpg" />
    <img src="../../assets/T1.jfif" />
    <img src="../../assets/s2Crop.jpg" />
    <img src="../../assets/MindtreeLogoDark.jpg" alt="" />
  </figure>
</div>
<br />
<div>
  <h1 style="text-align: center; color: #830051">
    <strong>
      The main objective of the application is to give the enhanced pre-learning
      experiance to the Mindtree Joiner's prior to the date of joining</strong
    >
  </h1>
</div>
<br />
<div>
  <h2 style="color: purple">Pre-joining Preparation</h2>
  <h3>
    We are busy preparing to <strong>welcome</strong> you
    <strong>to Mindtree family</strong> and make your learning journey a
    fruitful one. We would want you also to prepare well as you wait excitedly
    for the date of joining.<br /><br />
    At Orchard, you will be allocated to various technologies based on the
    organization's business needs and you will build capabilities accordingly.
    Irrespective of your allocation, coming equipped with fundamental knowledge
    on any of the programming languages will help you tremendously in Orchard.
    <strong style="color: #a2223c"
      >You can find few helpful links to meet the expectations and examples of
      sample problems to solve in this application.</strong
    >
  </h3>
  <br />
  <h2 style="color: purple">Orchard Learning Advisory</h2>
  <h3>
    Your learning program will be an exhilarating, challenging, inspiring,
    illuminating journey. The path will be both smooth and rocky with its ups
    and downs and twists and turns. You will have hurdles to climb and
    milestones to cross.
    <strong style="color: #a2223c"
      >We will provide you with all the resources and support you need, but your
      learning is ultimately in your own hands.</strong
    >
    What will keep you going is hard work, discipline and motivation. Having
    said that, our success is in your success and we will leave no stone
    unturned to ensure you complete the journey with flying colors.
    <br /><br />
    <strong>Individual Learning Plans</strong><br />Your calendar has details of
    daily and weekly rhythms. Have an eye on the calendar always. It gives you
    an idea on the capabilities planned, link to content and more. Be prepared
    for the next day, by watching the suggested videos and reading up the
    content.<strong style="color: #a2223c">
      Practice until you can convincingly work out a given problem.</strong
    ><br /><br />
    We understand that people learn in different paces and styles. When you are
    struggling with your capabilities, you can catch up once again on the topics
    you have not yet mastered. On the other hand, when you are doing very well,
    you can work on additional projects that would add value to your portfolio.
    Although, you will get a fair idea of your standing from the periodic
    reports shared by us, you must assess yourself objectively to decide your
    course of action. Take up additional challenges only if you are extremely
    comfortable with the standard capability spread. Use your buffer time
    judiciously to catch up on unclear capabilities rather than pursuing an out
    of reach challenge.
  </h3>
  <br />
  <h1 style="color: purple; text-align: center"><strong>GOOD LUCK</strong></h1>
</div>

<!-- <div style="align-items: center; width: 100%">
  <mat-card class="example-card">
    <mat-card-content>
      <h3>
        The main objective of the application is to give the enhanced
        pre-learning experiance to the mindtree Joiner's prior to date of
        joining
      </h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <div style="text-align: center; width: 100%">
      <img class="logo" src="../../assets/logo.jpeg" alt="logo.jpeg" />
      <h2>Created By Campus Minds</h2>
    </div>
  </mat-card>
</div> -->
