<!-- <h2>Registration Form</h2> -->

<div class="fluid-container" id="image">
  <mat-card>
    <form
      class="form-horizontal"
      role="form"
      [formGroup]="registerForm"
      (ngSubmit)="collectData()"
    >
      <br>
      <mat-form-field class="inputField">
        <mat-label>*Name</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
     
    
   
      <mat-form-field class="inputField">
        <mat-label>*Email</mat-label>
        <input formControlName="email" matInput />
      </mat-form-field>


 
      <mat-form-field class="inputField">
        <mat-label>*Password</mat-label>
        <input formControlName="password" matInput />
      </mat-form-field>
     

   
      <mat-form-field class="inputField">
        <mat-label>*Phone No</mat-label>
        <input formControlName="contactNo" matInput />
      </mat-form-field>
      <br>
      <br>
      <label  class="radioButtons">Gender</label>
      <mat-radio-group>
        <mat-radio-button value="Female" formControlName="gender"
          >Female</mat-radio-button
        >
        <mat-radio-button value="Male" formControlName="gender"
          >Male</mat-radio-button
        >
      </mat-radio-group>
      <br>
      <br>
      <label class="radioButtons">Role</label>
      <mat-radio-group>
        <mat-radio-button
          value="1"
          name="roleId"
          (click)="campusMindRole()"
          formControlName="roleId"
          >Campus Mind</mat-radio-button
        >
        <mat-radio-button
          value="2"
          name="roleId"
          (click)="mindtreeMindRole()"
          formControlName="roleId"
          >Mindtree Mind</mat-radio-button
        >
      </mat-radio-group>
      <br>
      <br>
      <div *ngIf="campusMind">
        <mat-form-field class="inputField">
          <mat-label>*Engineering Branch</mat-label>
          <input formControlName="engineeringBranch" matInput />
        </mat-form-field>
      </div>

      <div *ngIf="mindTreeMind">
     
        <mat-form-field class="inputField">
          <mat-label>*Location</mat-label>
          <input formControlName="location" matInput />
        </mat-form-field>

        <mat-form-field class="inputField">
          <mat-label>*Track</mat-label>
          <input formControlName="track" matInput />
        </mat-form-field>
     
      </div>

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <span class="help-block" style="color: black">*Required fields</span>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="!registerForm.valid"
      >
        Register
      </button>
    </form>
  </mat-card>
  <!-- /form -->
</div>
<!-- ./container -->
