<!-- <div *ngFor="let item of problemsList">
    <p [innerHTML]="item.question |lineBreak"></p>
</div> -->


<!-- 
<ul class="list-group" *ngFor="let item of bestPracticeList">
    <li class="list-group-item list-group-item-success" >{{item.description}}</li>
</ul> -->

<div class="container-fluid">

<ul class="list-group">
  <h2>Best Practices To Be Followed</h2>

  <li  style="background-color: #f2f2f2" class="list-group-item " *ngFor="let item of bestPracticeList">
    
    <span  class="glyphicon glyphicon-star-empty"></span>   {{item.description}}</li>

</ul>


<div class="Center">
  <h2>Problem Statements For Practice</h2>
  <mat-selection-list>
    <mat-accordion #problem>
      <tr *ngFor="let problem of problemsList" [value]="problem">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <div>
              <mat-panel-title>
                <h3>
                  Problem : {{problemsList.indexOf(problem)+1}}
                  <!-- Topics Covered:
                  <span style="color: rgb(104, 100, 100)">{{
                    problem.topicsCovered
                    }}</span> -->
                </h3>
              </mat-panel-title>
              <!-- <mat-panel-description>
                <h4>This is the Basic Discription of the problem</h4>
                 status {{panelOpenState ? 'open' : 'closed'}}
    
              </mat-panel-description> -->
            </div>
          </mat-expansion-panel-header>
          <div>
            <mat-tab-group mat-align-tabs="center">
              <mat-tab label="Problem Statement">
                <div style="font-size: larger" class="dropDownStyle" [innerHTML]="problem.question | lineBreak">
                  >
                  
  
                  <!-- {{ problem.question }} -->
                </div>
              </mat-tab>

              <mat-tab style="text-align: center;" class="dropDownStyle" label="Topics Covered"
                  >
                  <br>
                  {{problem.topicsCovered}}
            
                  </mat-tab
                >
            </mat-tab-group>
          </div>
        </mat-expansion-panel>
      </tr>
    </mat-accordion>
  </mat-selection-list>

</div>


</div>