<link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
<div>
  <h1 style="text-align: center"><strong>Experiences</strong></h1>
</div>
<div class="image">
  <!-- <div class="list-group" *ngFor="let feed of feeds">
  <a class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">{{ feed.comment }}</h3>
      <small>{{ feed.postedAt | date }}</small>
    </div>
  </a>
</div> -->
  <!-- </div> -->
  <div class="row gx-4 ">

    <div class="card text-white  mb-3"
      style="max-width: 49rem;left: 80px;color:rgb(249, 254, 255); margin: 10px; background-color:lightslategrey;"
      *ngFor="let feed of feeds">

      <div class="card-header" style="color: rgb(10, 10, 10);">
        <small style="text-align: left;font-size:16px;">{{ feed.email }}</small>
        <small style="float: right;font-size:14px">{{ feed.postedAt | date }}</small>

      </div>

      <div class="card-body">
        <!-- <h5 class="card-title">Dark card title</h5> -->
        <h3 class="card-text" style="font-size:medium ; font-family: 'Merienda';">{{ feed.comment }}</h3>
      </div>
    </div>

  </div>
</div>