<!-- <table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feed of feeds">
      <td>{{ feed }}</td>
    </tr>
  </tbody>
</table> -->
<mat-list *ngFor="let feed of feeds">
  <mat-list-item>{{ feed }}</mat-list-item>
</mat-list>
<p>-----------------------------------------------------</p>
<div>
  <mat-selection-list #list [multiple]="false">
    <mat-list-option *ngFor="let feed of feeds" [value]="feed">
      {{ feed }}
    </mat-list-option>
  </mat-selection-list>
  <p>Option selected: {{ list.selectedOptions.selected[0]?.value }}</p>
</div>
